<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Sensor Model Language (SensorML)</name>
    <version>
      <name>1.0.1</name>
      <suite>
        <namespace-uri>http://www.opengis.net/sensorML/1.0.1</namespace-uri>
        <prefix>sml</prefix>
        <local-name>suite</local-name>
        <title>SensorML 1.0.1 Conformance Test Suite</title>
        <description>Checks SensorML instances for conformance to OGC 07-000.</description>
      </suite>
      <revision>
        <name>r1</name>
        <sources>
          <source>sensorml/1.0.1/ctl</source>
        </sources>
        <webdir>sensorml/1.0.1/web</webdir>
      </revision>
    </version>
  </standard>
</organization>
