<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Map Service (WMS)</name>
    <version>
      <name>1.1.1 (deprecated)</name>
      <suite>
        <namespace-uri>http://www.opengis.net/wms</namespace-uri>
        <prefix>wms</prefix>
        <local-name>main_wms</local-name>
        <title>WMS 1.1.1 Conformance Test Suite</title>
        <description>Checks WMS implementations for conformance to OGC 01-068r3.</description>
      </suite>
      <revision>
        <name>r2</name>
        <sources>
          <source>wms/1.1.1/ctl</source>
        </sources>
        <webdir>wms/1.1.1/web</webdir>
      </revision>
    </version>
  </standard>
</organization>
