<config>
	<organization>
		<name>OGC</name>
	</organization>
	<standard>
		<name>WMC</name>
	</standard>
	<version>
		<name>1.1.0</name>
	</version>
	<revision>
		<name>r0</name>
	</revision>
	<suite>
		<namespace-uri>http://cite.opengeospatial.org/context/1.1.0/ets/ctl</namespace-uri>
		<prefix>wmc</prefix>
		<local-name>compliance_suite</local-name>
	</suite>
	<source>ctl</source>
	<web>web</web>
</config>

