<config>
	<organization>
		<name>OGC</name>
	</organization>
	<standard>
		<name>WCSEO</name>
	</standard>
	<version>
		<name>1.0</name>
	</version>
	<suite>
		<namespace-uri>http://schemas.opengis.net/wcs/2.0/WCS_profile_earth-observation/1.0</namespace-uri>
		<prefix>wcseo</prefix>
		<local-name>suite</local-name>
	</suite>
	<source>ctl</source>
	<resources>resources</resources>
	<web>web</web>
</config>

